#container {
    width: 600px;
    background-color: rgb(85, 44, 61);
    margin: auto;
    padding: 25px;
}

#calc-pic {
    width: 125px;
    position: absolute;
    right: 400px;
    top: 20px;

}

body{
    color: whitesmoke;
}
h1 {
    color: rgb(228, 228, 228);
    text-align: center;
}